<html (mousemove)="onMove()">

<table>
<tr>
    <td><label>Nome </label></td>
    <td><input [(ngModel)]="enfermeiro.nome" name="enfnome"></td>
    
    <td><label>Experiencia </label></td>
    <td><input [(ngModel)]="enfermeiro.experiencia" name="enfexperiencia"></td>

    <td><label>Setor </label></td>
    <td>
        <select [(ngModel)]="setorSelect" name="enfsetor">
            <option *ngFor="let setor of setorOption">{{setor}}</option>
        </select>
    </td>

    <td><label>Turno </label></td>
    <td>
        <select [(ngModel)]="turnoSelect" name="enfturno">
            <option *ngFor="let turno of turnoOption">{{turno}}</option>
        </select>
    </td>
   
</tr>

<tr>
   
   
</tr>
<tr>
    <td><label>Especialidade </label></td>
    <td><input [(ngModel)]="enfermeiro.especialidadeList[0].nome" name="enfespecialidade"></td>
   
    <td><label>Titulacao </label></td>
    <td><input [(ngModel)]="enfermeiro.titulacaoList" name="enftitulacao"></td>

    <td><label>Vinculo </label></td>
    <td>
        <select [(ngModel)]="vinculoSelect" name="enfvinculo">
            <option *ngFor="let vinculo of vinculoOption">{{vinculo}}</option>
        </select>
    </td>

    <td><button (click)="criarEnfermeiro(enfermeiro)" name="enfcriar">Adicionar</button></td>
</tr>

</table>

<table>
<tr *ngIf="enfermeiros.length > 0">
    <th>Nome</th>
    <th>Experiencia</th>
    <th>Setor</th>
    <th>Turno</th>
    <th>Especialidade</th>
    <th>Titulacao</th>
    <th>vinculo</th>

</tr>
<tr *ngFor="let a of enfermeiros">
    <td>{{a.nome}}</td>
    <td>{{a.experiencia}}</td>
    <td>{{a.setor.especialidadeSetor}}</td>
    <td>{{a.turno.nome}}</td>
    <td>{{a.especialidadeList[0].nome}}</td>
    <td>{{a.titulacaoList}}</td>
    <td>{{a.vinculo}}</td>
</tr>
</table>

</html>