<div>
    <table>
        <tr>
            <td><label>Busca por nome</label></td>
            <td><input [(ngModel)]="nameSelect" (change)="onSearch()" name="namesearch"></td>
        </tr>
        <tr>
            <td><label>Busca por especialidade</label></td>
            <td>
                <select [(ngModel)]="specSelect" (change)="onSearch()" name="specsearch">
                    <option *ngFor="let spec of specOption">{{spec}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Busca por setor</label></td>
            <td>
                <select [(ngModel)]="sectorSelect" (change)="onSearch()" name="sectorsearch">
                    <option *ngFor="let sector of sectorOption">{{sector}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Busca por turno</label></td>
            <td>
                <select [(ngModel)]="shiftSelect" (change)="onSearch()" name="shiftsearch">
                    <option *ngFor="let shift of shiftOption">{{shift}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Busca por vínculo</label></td>
            <td>
                <select [(ngModel)]="liaisonSelect" (change)="onSearch()" name="liaisonsearch">
                    <option *ngFor="let liaison of liaisonOption">{{liaison}}</option>
                </select>
            </td>
        </tr>
    </table>
</div>

<div>
    <table>
        <tr *ngIf="enfList.length > 0">
            <th>Nome</th>
            <th>Especialidade(s)</th>
            <th>Setor</th>
            <th>Turno</th>
            <th>Vínculo</th>
        </tr>
        <tr *ngFor="let enf of filtList" name="enflist">
            <td name="enfname">{{enf.nome}}</td>
            <td name="enfspecs">{{listSpecs(enf.especialidadeList)}}</td>
            <td name="enfsector">{{enf.setor.especialidadeSetor}}</td>
            <td name="enfshift">{{enf.turno.nome}}</td>
            <td name="enfliaison">{{enf.vinculo}}</td>
        </tr>
    </table>
</div>